body{
	background-image: url(img/background.jpg);
	outline: none;
	color: white;
}
#game-container{
	width: 1350px;
	height: 635px;
	border: 2px solid black;
	margin: 0 auto;
	border-radius: 10px;
	text-align: center;
	background-image: url(img/bg.jpg);
	background-size: cover;
}

#title{
	width: 700px;
	margin: 0 auto;
	color: black;
	background-color: rgba(255, 255, 255, 0.5);
}

#description{
	width: 700px;
	margin: 0 auto;
	color: black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

#inventoryItem{
	width: 70px;
	height: 90px;
	position: absolute;
	left: 20px;
	bottom: 20px;
}

#button1{
	width: 120px;
	height: 30px;
	border-radius: 20px;
	border-color: #ffff00;
	background-color: #004d00;
	color: white;
	-webkit-transition-duration: 0.2s;
  	transition-duration: 0.2s;
  	outline: none;
}
#button2{
	width: 120px;
	height: 30px;
	display: none;
	border-radius: 20px;
	border-color: #ffff00;
	background-color: #004d00;
	color: white;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	outline: none;
}
#button3{
	width: 120px;
	height: 30px;
	display: none;
	border-radius: 20px;
	border-color: #ffff00;
	background-color: #004d00;
	color: white;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	outline: none;
}
#button1:hover{
	background-color: rgba(255, 255, 255, 0.3);
	border-color: black;
	color: black;
}
#button2:hover{
	background-color: rgba(255, 255, 255, 0.3);
	border-color: black;
	color: black;
}
#button3:hover{
	background-color: rgba(255, 255, 255, 0.3);
	border-color: black;
	color: black;
}
#VIP{
	position: absolute;
	left: 150px;
	bottom: 50px;
	width: 200px;
	height: 200px;
}
#secret{
	width: 50px;
	height: 80px;
	position: absolute;
	left: 480px;
	bottom: 50px;
}
#secret2{
	width: 50px;
	height: 80px;
	position: absolute;
	left: 540px;
	bottom: 50px;
}